.container{
    text-align: center;
    color: rgb(0, 195, 255);
}

.box{
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 5px groove blue;
    line-height: 80px;
}

.board{
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
}

.but{
    align-self: center;
}